extends base

block content
  main.main
    h1.heading-statistics= title
 

    .canvas-container
      canvas#myChart

    script.

      const chartData = !{chartData};
      

      document.addEventListener('DOMContentLoaded', function() {
        const ctx = document.getElementById('myChart').getContext('2d');
        
     
        const myChart = new Chart(ctx, {
          type: 'bar',
          data: chartData,
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });