extends base

block content
  main.main
    .container
      h2.heading-secondary.ma-bt-lg Statistics
      
      .statistics-form-container
      
        form.statistics-form(action="/statistics" method="POST")
          .form__group
            label.form__label(for="statisticType") Choose statistics type:
            select.form__input#statisticType(name="statisticType" required)
              option(value="") -- Please select --
              option(value="monthly") Monthly Tours
              option(value="popular") Most Popular Tours
              option(value="userRoles") User Role Distribution
              option(value="topBookers") Top Booking Users
              option(value="priceDistribution") Booking Price Distribution
          
          .form__group
            button.btn.btn--green(type="submit") View Statistics